{% extends "index.html" %}



{% block content %}
  <h1>Liste des machines</h1>
  {% load static %} 
  <a href="{% url 'add-machine' %}">
    <img src="{% static 'computerApp/images/add.png' %}" alt="logo_add" style="width:50px;height:50px;">
  </a>
  <a href="{% url 'del-machine' %}">
    <img src="{% static 'computerApp/images/trash.png' %}" alt="logo_del" style="width:50px;height:50px;">
  </a>
  {% if machines %}
    <ul>
      {% for machine in machines %}
        <li>
          
          <a href="{% url 'machine-detail' machine.id %}">
            {{ machine.nom }}
          </a>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>Il n'y a pas de machines.</p>
  {% endif %}

{% endblock %}







